@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  bottom: 30px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logo {
  font-family: 'Spectral SC', serif;
  font-size: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
