html,body {
  background: #fff;
}
h2 {
  font-size: 25px;
  padding: 10px;
}
img {
  float: left;
  margin: 5px;
  margin-right: 20px;
}
p {
  text-align: justify;
}
i {
  text-align: right;
}
.navbar-item {
  width: 100%;
  background: #333;
  position: fixed;
  padding: 5px;
  z-index: 99;
} 
.navbar-item li {
  list-style: none;
  margin-right: 20px; 
}
.navbar-item .link {
  color: #ccc;
}
.navbar-item .link:hover {
  color: #fff
}
#nprogress .bar {
  background: red !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
  border-top-color: red !important;
  border-left-color: red !important;
}